<html>

<head>
    <link rel="stylesheet" href="/css/blogcss.css" />
    
    <%- include('../views/partials/links'); %>  
   
</head>

<body>

                <!-- header part -->

  <div class="bgimg">
    <nav class="navbar navbar-expand-sm bg-danger nav-dark">
        <div class="container mt-1">
            <h2 class="text-white">Red<b>BUS</b></h2>
            <button class="navbar-toggler btn btn-secondary" type="button" data-toggle="collapse"
                data-target="#collapsenavbar">
                <span class="navbar-toggler-icon "></span>
            </button>

            <div class="collapse navbar-collapse text-center" id="collapsenavbar">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item px-2">
                        <a href="addBus" class="nav-link text-white"> ADD BUS </a>
                    </li>
                    <li class="nav-item px-2">
                        <a href="users" class="nav-link text-white"> USERS </a>
                    </li>
                    <li class="nav-item px-2">
                        <a href="/" class="nav-link text-white"> LOGOUT </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

                    <!-- page content -->

    <div class="main-wrapper mt-0">
      <div class="container main-container">
        <% buses.forEach(bus=> { %>
        <div class="row main-row mt-4">
          <div class="col-12 align-center">
            <div class="row p-3">
              <div class="col-10 align-middle"> 

                <h4> <%= bus.busnumber %> </h4>            
                  Type : <%= bus.busType %> <br>             
                  Capacity : <%= bus.capacity %> <br>

              </div>
              <div class="col-2">
                <button type="button" class="btn btn-danger btn-block">View Trips</button>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </div>

    <%- include('../views/partials/footer'); %>

</body>

</html>